* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    transition: all 0.5s;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 30px;
}

.flex-container {
    display: flex;
}

.navbar {
    margin-top: 2em;
    position: relative;
    transition: all 0.5s;
}

.navbar::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 3em;
    width: 100%;
    height: 1px;
    background-color: #828282;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
}

.navbar li {
    list-style: none;
    font-size: 18px;
    font-weight: lighter;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.navbar li:hover {
    /* font-size: 19px; */
    cursor: pointer;
    background-color: rgb(85, 197, 85);
    transition: all 0.3s ease;
}

.navbar a {
    color: black;
    text-decoration: none;
    transition: all 0.5s;
}

@media (max-width:768px) {
    .navbar {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        margin-top: 0;
        background-color: white;
        transform: translateX(80em);
        z-index: 99;
    }

    .navbar.active {
        transform: translateY(0);
        
        transition: all 0.3s ease;
    }

    .navbar::after {
        display: none;
    }

    .navbar ul {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
    }
}

.burger {
    display: none;
    cursor: pointer;
}

@media (max-width:768px) {
    .burger {
        display: block;
        width: 40px;
        top: 20%;
        left: 91%;
        padding: 0 20px;
        height: 25px;
        position: fixed;
        /* background-color: white; */
        transition: all 0.3s ease;
        z-index: 100;
    }

    .burger::after {
        content: '';
        position: absolute;
        top: 15%;
        left: 12%;
        width: 30px;
        height: 2px;
        background-color: black;
        transition: all 0.3s ease;
    }

    .burger::before {
        content: '';
        position: absolute;
        bottom: 15%;
        left: 12%;
        width: 30px;
        height: 2px;
        background-color: black;
        transition: all 0.3s ease;
    }

    .burger span {
        position: absolute;
        top: 47%;
        left: 12%;
        width: 30px;
        height: 2px;
        background-color: black;
        transition: all 0.3s ease;
    }

    .burger.active {
        background-color: transparent;
    }

    .burger.active::after {
        transform: rotate(45deg);
        top: 52%;
        transition: all 0.3s ease;
    }

    .burger.active::before {
        transform: rotate(-45deg);
        bottom: 40%;
        transition: all 0.3s ease;
    }

    .burger.active span {
        transform: scale(0);
        transition: all 0.3s ease;
    }
}

@media (max-width:768px) {
    .burger {
        left: 88%;
    }
}


.greeting {
    margin-top: 100px;
    justify-content: space-between;
    align-items: center;
}

@media (max-width:768px) {
    .greeting {
        flex-direction: column;
        align-items: flex-start;
    }
}

.greeting__name {
    font-size: 48px;
    font-weight: bold;
}

.greeting__desc {
    font-size: 21px;
}


.props-mobi {
    display: none;
}

@media (max-width:768px) {
    .greeting__props {
        display: none;
    }

    .props-mobi {
        display: block;
    }
}

.props__ru {
    position: relative;
    padding-right: 5px;
    color: #828282;
    cursor: pointer;
}

.props__ru.active,
.props__eng.active {
    font-weight: bolder;
    color: #000;
}

.props__ru::after {
    content: '|';
    top: -25%;
    left: 90%;
    font-size: 20px;
    position: absolute;
    color: black;
}

.props__eng {
    cursor: pointer;
    color: #828282;
}

.greeting__photo {
    max-width: 943px;
    height: 387px;
    background-color: black;
    background-image: url('./UI/image/me.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 25px;
    margin-bottom: 50px;
}

@media (max-width:768px) {
    .greeting__photo {
        width: 93%;
    }
}

.greeting__theme {
    position: relative;
    display: block;
    width: 60px;
    height: 36px;
    border-radius: 36px;
    background: #fff;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: inset -5px 5px 10px #d9d9d9,
                inset 5px -5px 10px #ffffff;
}

.greeting__theme .indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 36px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid rgba(221, 221, 221, 0.767);
    transform: scale(0.9);
    transition: 0.5s;
}

.main {
    background-color: #F6F6F6;
}

.about {
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.about h1 {
    font-size: 48px;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 50px 0;
}

.about div {
    padding-bottom: 25px;
}

.about p {
    font-size: 18px;
    font-weight: lighter;
}

.about:last-child {
    padding-bottom: 50px;
}

.about a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.about a:hover {
    font-size: 20px;
    background-color: rgb(85, 197, 85);
    transition: all 0.3s ease;
}

.skills {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills h2 {
    padding: 50px 0;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: bolder;
}

.skills__wrapper {
    width: 100%;
    justify-content: space-between;
    padding-bottom: 50px;
}

@media (max-width:768px) {
    .skills__wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.wrapper__title {
    font-size: 14px;
    font-weight: bold;
    color: #828282;
    text-align: center;
}

.wrapper img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
}

@media (max-width:768px) {
    .wrapper {
        padding: 20px 0;
    }
}

#portfolio {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    overflow: hidden;
}

/* .portfolio {
    flex-direction: column;
    align-items: center;
    justify-self: center;
} */

#portfolio h2 {
    padding: 50px 0;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: bolder;
}

@media (max-width: 768px) {
    #portfolio h2,
    .skills h2,
    .about h1,
    .contacts h2 {
        font-size: 38px;
    }
}

/* swiper */
.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 500px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    filter: blur(4px);
}

@media (max-width: 767px) {
    .swiper-slide {
        width: 300px;
    }
}

.swiper-slide-active {
    filter: blur(0px);
}

.swiper-slide img {
    display: block;
    width: 100%;
}

.contacts {
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contacts h2 {
    font-size: 48px;
    font-weight: bolder;
    padding-top: 100px;
    padding-bottom: 50px;
}

.contacts p {
    font-size: 18px;
    max-width: 400px;
    text-align: center;
    padding-bottom: 50px;
}

.contacts__btn {
    position: relative;
    text-decoration: none;
    color: white;
    background-color: #1c1a1b;
    padding: 20px 40px;
    /* border-radius: 30px; */
    font-size: 18px;
    font-weight: lighter;
    letter-spacing: 2px;
    box-shadow: 0px 5px 10px 0px #00055535;
    margin-bottom: 100px;
    transition: all 0.3s ease;
}

.contacts__btn::before,
.contacts__btn::after {
    content: '';
    position: absolute;
    inset: -3px;
    background: linear-gradient(45deg, #00ccff, #fff, #d400d4);
    
    z-index: -1;
}

.contacts__btn::after {
    filter: blur(10px);
}

@media (max-width: 768px) {
    .contacts__btn {
        padding: 10px 30px;
        font-size: 14px;
    }
}

.contacts__props {
    width: 30%;
    justify-content: space-around;
}

@media (max-width: 768px) {
    .contacts__props {
        width: 100%;
    }
}

.inst {
    display: block;
    background-image: url('./UI/image/instagram.svg');
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.telega {
    display: block;
    background-image: url('./UI/image/telegram.svg');
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.whats {
    display: block;
    background-image: url('./UI/image/whatsapp.svg');
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.inst,
.whats,
.telega {
    transition: all 0.5s;
}

body.dark {
    background-color: #1c1a1b;
    color: #fff;
}

#portfolio,
#about {
    transition: all 0.5s;
}

body.dark #portfolio,
body.dark #about {
    background-color: #182221;
    color: #fff;
}

@media (max-width: 768px) {
    body.dark .navbar {
        background-color: #1c1a1b;
    }   
}

body.dark .navbar a:hover,
body.dark .about a:hover {
    background-color: #fff;
    color: #000;
}

body.dark .navbar a,
body.dark .about a {
    color: #fff;
}

body.dark .burger::after,
body.dark .burger::before,
body.dark .burger span {
    background-color: #fff;
}

body.dark .greeting__theme {
    background: #1c1a1b;
    box-shadow: inset -18px 18px 36px #161415,
            inset 18px -18px 36px #222021;
}

body.dark .greeting__theme .indicator {
    left: 20px;
    background: #1c1a1b;
    border: 1px solid #1e1e1e;
}

body.dark .greeting__photo {
    margin-bottom: 0;
    border-top: 5px solid #182221;
    border-left: 5px solid #182221;
    border-right: 5px solid #182221;
}

body.dark .contacts__btn {
    background-color: #242424;
    color: #fff;
    box-shadow: 0px 5px 10px 0px #ffffff35;
}

body.dark .contacts__btn::before,
body.dark .contacts__btn::after {
    background: linear-gradient(45deg, #00ccff, #1c1a1b, #d400d4);
}
